@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('NEVOCLARA/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
    --cor-vinho: #2a181d;;
}
*{
    border:0;
    margin:0;
    box-sizing:border-box;
}
html {
    background-color: var(--cor-vinho);
    max-width: 100vw;
}
body {
    margin: 0 auto;    
}
a {
    color: inherit;
}
section {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}
.barra {
    margin: 10rem 0;
}
.fundo-branco {
    background-color: white;
}
.titulo {
    font-family: "NEVOCLARA", sans-serif;
    font-size: 3.5em;
    font-weight: 100;
    font-style: normal;
    color: antiquewhite;    
    word-wrap:normal;
}
.imgMedia {
    height: 25rem;
}
.imgMaior {
    height: 35rem;
}
.imgPequena {
    height: 10rem;
}
.flexColumn {
    display: flex;
    flex-direction:column;
    gap: 5rem;
}
.flexRow {
    display: flex;
    flex-flow: row;
    gap: 1rem;
    max-width: 100vw;
}
.flex-grow0 {
    flex-grow: 0;
}
.strecht {
    align-self: stretch;
}
.cor-branca {
    color: white;
}
.cor-vinho {
    color:var(--cor-vinho);
}
.capitalize {
    text-transform: capitalize;
}
.fonte-padrao {
    font-family: "Bebas Neue", sans-serif;
}
.texto-gancho {
    font-size: 6.5rem;
}
.texto-medio {
    font-size: 3.5rem;
}
.text-align-center {
    text-align: center;
}
.padding-medio {
    padding: 1.5rem;
}
.placa {
    width: 50rem;
    height: auto;
}
.link-normal {
    text-decoration: none;
}
.texto-padrao {
    font-size: 2rem;
}
.estreito {
    max-width:890px
}
.largo {
    max-width:1280px
}
.margem-media {
    margin: 1rem 0;
}
.margin-bottom-maior {
    margin-bottom: 30rem;
}
.text-align-left {
    text-align: left;
}
.sombra {
    box-shadow: 0px 25px 15px -3px rgba(205, 241, 0, 0.1);
}
.radio {
    border-radius: 2rem;
}
.rounded {
    border-radius: 50%;
}
.margin-zero {
    margin: 0;
}
.padding-zero {
    padding: 0;
}
.risco {
    display: block;
    height: 6px;
    width: 350px;
    background-color: white;   
    margin: 0 auto; 
}
.margin-zero-auto {
    margin: 0 auto;
}
.recuo {
    margin-left: 20px;
}
.block {
    display: block;
}
.justificado {
    text-align: justify;
}
.bold {
    font-weight: 600;
}
.imgIcone {
    height: 40px;
}
.imgIconeMedio {
    height: 100px;
}
.align-items-center {
    align-items: center;
}
.justify-space-around {
    justify-content: space-around;
}
.justify-content-center {
    justify-content: center;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.width-fit {
    max-width: 450px; 
}
.background-img {
    background-image: url('../../media/background.jpg');
}
.align-items-end {
    align-items: flex-end;
}
footer {
    width: 100%;
    height: auto;    
    background-color: rgba(24, 13, 16, 0.308);
    min-height: 15rem;    
}
footer div{
    color: #945668;
}
@media (max-width:1280px) {
    .flex-wrap {
        flex-wrap: wrap;
    }
    .flexColumn {
        flex-wrap: wrap;
        gap: 2rem;
        max-width: 100vw;
    }
    .margem-top-extra {
        margin-top: 2rem;
    }
    .barra {
        margin: 5rem 0;
    }
    .placa {
        width: 25rem;        
    }
    .margin-top-sm {
        margin-top: 0.5rem;
    }
}
@media (max-width:1080px) {
    .risco {
        width: 200px;  
    }
    .texto-gancho {
        font-size: 5rem;
    }
    .texto-medio {
        font-size: 2rem;
    }
    .align-items-start {
        align-items: flex-start;
    }    
}
@media (max-width:680px) {
    .placa {
        width: 20rem;
    }
    .align-left-smscreen {
        text-align: justify;
    }
    .imgIcone {
        height: 30px;
    }
    .imgMedia {
        height: 22rem;
    }
    .clienteImg {
        height: 20rem;
    }
}
