@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('NEVOCLARA/stylesheet.css'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
    --cor-vinho: #2a181d;;
    --vinho-escuro:  rgba(24, 13, 16, 0.308);
    --vinho-branco: rgb(243, 176, 199);
}
*, *::before, *::after {
    border:0;
    margin:0;
    box-sizing:border-box;
}
html {
    background-color: var(--cor-vinho);
    width: 100vw;
}
body {
    margin: 0 auto;    
}
nav {
    display: flex;    
    width: 100vw;
    max-width: 1280px;
    margin: 1rem auto 0 auto;
    padding: 0.5rem;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    gap: 5rem;
    /* justify-content:baseline;   */
}
nav ul {
    list-style-type: none;    
}
nav ul li { 
    float: left;
    margin: 0 2rem;
}
nav ul li a {
    display: block;    
    color: var(--cor-vinho);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 1.7rem;
    border-radius: 0.5rem;
}
#navMenuSmLogo {
    display: none;
    height: fit-content;   
    width: fit-content; 
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--cor-vinho);
}
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--cor-vinho);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

div .arrowDown {
    left: 50%;
    transform: translateY(0%) rotate(45deg);   
    opacity: 0;
}
html:not([data-scroll='0']) #arrowSection {
    display: none;
}
nav ul li a:hover {
    color: var(--cor-vinho);
  }
#menuHamburger {    
    display: none;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    padding: 1rem;
    line-height: 2;
    cursor: pointer;    
    border: 1px solid var(--vinho-branco);
    border-radius: 0.5rem;
    background-color: var(--vinho-branco);
    color: var(--cor-vinho);
}
#menuFechar {
    display: none;
    position: absolute;
    top: 0rem;
    right: 1.5rem;
    line-height: 0;
    cursor: pointer;
    z-index: 999;
    font-size: 3rem;
    color: var(--vinho-branco);
}
.l100p {
    width: 98%;
}
.imgEntrada {
    height: 25rem;
}
a {
    color: inherit;
    text-decoration: none;
}
.l1280px {    
    max-width: 1280px;
}
.bkgTxt {
    background-image: url('../../media/textura.png');
    background-clip: content-box;
    background-attachment: fixed;
    height: 85vh;
}
section {    
    margin: 0 auto;
    padding: 1rem;
}
.barra {
    margin: 6rem 0;
}
.fundo-branco {
    background-color: white;
}
.titulo {
    font-family: "NEVOCLARA", sans-serif;
    font-size: 3.5em;
    font-weight: 100;
    font-style: normal;
    color: antiquewhite;    
    word-wrap:normal;
}
.imgMedia {
    height: 25rem;
}
.imgMaior {
    height: 35rem;
}
.imgPequena {
    height: 10rem;
}
.flexColumn {
    display: flex;
    flex-direction:column;
    gap: 5rem;    
}
.padding-maior {
    padding: 2rem;
}
.flexRow {
    display: flex;
    flex-flow: row;
    gap: 1rem;
    max-width: 100vw;
}
.flex-grow0 {
    flex-grow: 0;
}
.strecht {
    align-self: stretch;
}
.cor-branca {
    color: white;
}
.cor-vinho {
    color:var(--cor-vinho);
}
.capitalize {
    text-transform: capitalize;
}
.fonte-padrao {
    font-family: "Bebas Neue", sans-serif;
}
.texto-gancho {
    font-size: 6.5rem;
}
.texto-gancho-md {
    font-size: 3rem;
}
.texto-medio {
    font-size: 3.5rem;
}
.text-align-center {
    text-align: center;
}
.padding-medio {
    padding: 1.5rem;
}
.placa {
    width: 35rem;
    height: auto;
}
.link-normal {
    text-decoration: none;
}
.texto-padrao {
    font-size: 2rem;
}
.estreito {
    max-width:890px
}
.margem-media {
    margin: 1rem 0;
}
.margin-top-maior {
    margin-top: 3rem;
}
.fundo-fosco {
    background-color: var(--vinho-escuro);
}
.margin-bottom-maior {
    margin-bottom: 5rem;
}
.text-align-left {
    text-align: left;
}
.sombra {
    box-shadow: 0px 25px 15px -3px rgba(205, 241, 0, 0.1);
}
.radio {
    border-radius: 2rem;
}
.rounded {
    border-radius: 50%;
}
.margin-zero {
    margin: 0;
}
.padding-zero {
    padding: 0;
}
.risco {
    display: block;
    height: 6px;
    width: 350px;
    background-color: white;   
    margin: 0 auto; 
}
.margin-zero-auto {
    margin: 0 auto;
}
.recuo {
    margin-left: 20px;
}
.block {
    display: block;
}
.justificado {
    text-align: justify;
}
.bold {
    font-weight: 600;
}
.imgIcone {
    height: 40px;
}
.imgIconeMedio {
    height: 100px;
}
.align-items-center {
    align-items: center;
}
.justify-space-around {
    justify-content: space-around;
}
.justify-content-start {
    justify-content: start;
}
.justify-content-center {
    justify-content: center;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.width-fit {
    max-width: 450px; 
}
.background-img {
    background-image: url('../../media/background.jpg');
}
.align-items-end {
    align-items: flex-end;
}
footer {
    width: 100%;
    height: auto;    
    background-color: var(--vinho-escuro);
    min-height: 5rem;    
}
footer div{
    color: #945668;
}
.centralizaVertical {
    position: relative;
    top: 5%;
}
@keyframes scrolldown {
    0%{
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
    50%{
        transform: translateY(0%) rotate(45deg);
        opacity: 0.2;
    }
    100%{
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
}
@keyframes slidein {
    from {
        transform: translate(0px, -10px);
    }  
    to {
    transform: translate(0px, 10px);
    }
}
@media (max-height:1180px) {
    .minHeight {
        min-height: 800px;
    }
}
@media (max-width:1280px) {
    .minHeight {
        min-height: 800px;
        height: auto;
    }
    .flex-wrap {
        flex-wrap: wrap;
    }
    .flexColumn {
        flex-wrap: wrap;
        gap: 2rem;
        max-width: 100vw;
    }
    .margem-top-extra {
        margin-top: 2rem;
    }
    .barra {
        margin: 2rem 0;
    }
    .placa {
        width: 25rem;        
    }
    .margin-top-sm {
        margin-top: 0.5rem;
    }
    .imgEntrada {
        height: 20rem;
    } 
    .justify-flex-start-sm {
        justify-content: flex-start;
    }
}
@media (max-width:1130px) {
    #sectionNavMenu{        
        display: none;
        margin-top: 0;        
    }    
    nav {
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        animation: fade-in 2s;
        z-index: 99;
        background-color: var(--cor-vinho);
        opacity: 1;
        overflow-y: scroll;
        z-index: 99;
    }
    nav ul {        
        list-style-type:none;
        padding-left: 0pt;
        max-width: 30rem;            
    }       
    #listaMenu {
        display: block;
    }
    #listaMenu li a {
        color: aliceblue;        
    }
    #menuHamburger {
        display: block;
        z-index: 999;
    }    
    #navMenuSmLogo {
        display: block;
    }
    .margin-top-maior {
        margin-top: 5rem;
    }
}
@media (max-width:1080px) {
    .minHeight {
        min-height: 200px;
        height: auto;
    }
    .bkgTxt {
        height: auto;
    }
    .risco {
        width: 200px;  
    }
    .texto-gancho {
        font-size: 5rem;
    }
    .texto-medio {
        font-size: 2rem;
    }
    .align-items-start {
        align-items: flex-start;
    }    
}
@media (max-width:680px) {
    .placa {
        width: 20rem;
    }
    .imgIcone {
        height: 30px;
    }
    .imgMedia {
        height: 19rem;
    }
    .clienteImg {
        height: 19rem;
    }
    section {
        padding: 1rem;
    }
    .rowToColumn {
        flex-direction: column;
    }
    .texto-padrao {
        font-size: 1.6rem;
    }
    /* .minHeight {
        min-height: 200px;
        height: auto;
    } */
    @keyframes slidein {
        from {
          transform: translate(0px, -8px);
        }  
        to {
        transform: translate(0px, 8px);
        }
      }
}
@media (max-width:620px) {
    .imgMedia {        
        height: 16rem;  
        justify-self: center;
        align-self: center;      
    }    
    .clienteImg {
        height: 20rem;
    }
    .texto-gancho-md {
        font-size: 2rem;
    }
}
@media (max-width:520px) {
    .imgMedia {        
        height: 15rem;  
        justify-self: center;
        align-self: center;      
    }    
    .clienteImg {
        height: 25rem;
    }
    .texto-padrao {
        font-size: 1.2rem;
    }
    .imgEntrada {
        height: 11rem;
    } 
    @keyframes slidein {
        from {
          transform: translate(0px, -6px);
        }  
        to {
        transform: translate(0px, 6px);
        }
      }      
}
@media (max-width:390px) {
    nav {
        margin-top: 5rem;
    }
    .width-fit {
        max-width: 350px;
    }
    .imgMedia {        
        height: 13rem;  
        justify-self: center;
        align-self: center;      
    }    
    .clienteImg {
        height: 23rem;
    }
    .imgEntrada {
        height: 9rem;
    } 
    .minHeight {
        min-height: 12rem;
    }
}
